* {
    margin:0;
    padding:0;
}

body {
    background-color: black;
}

.site-header {
    height:100vh;
    background-image: url('images/bg.jpg');
    background-size: cover;
    text-align: center;
    font-size: 20px;
}

.text-header {
    padding:3rem;
    color:white;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin:8rem;
    background-color: rgb(235, 35, 62);
    border:none;
    color: white;
    padding:20px 57px;
    text-align:center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #dbe0db;
    color: rgb(0, 0, 0);
}

.site-main {
    margin-top:3rem;
    height:100vh;
    background-image: url(images/bg-main.jpg);
    background-size: cover;
    color:white;
}

.text-main {
    padding-left:50%;
    padding-top:10%;
}

.site-footer {
    height:3rem;
}